.Cart {
    max-width: 90vw;
    margin-left: 1rem;
    &-title {
        font-weight: bold;
        font-size: 2rem;
        align-self: flex-start;
    }
    &-card {
        max-width: 100%;
        .card__header {
            max-width: 25%;
        }
        .card__content {
            max-width: 75%;
        }
        .badge {
            text-align: right;
        }
    }
}

.Wishlist {
    max-width: 50vw;
    &-wrapper {
        height: 90vh;
    }
    &-card {
        min-width: 60vw;
        margin-bottom: 0.8rem;
    }
    &-title {
        font-weight: bold;
        align-self: flex-start;
    }
}

.Checkout {
    min-width: 35vw;
    margin-right: 0.5rem;
    text-align: left;
    &-card {
        min-width: 100%;
        min-height: 42vh;
        padding: 1rem;
    }
    &-title {
        font-size: 1.7rem;
        font-weight: bold;
        text-transform: uppercase;
        align-self: flex-start;
    }
    &-total {
        margin: 0.7rem 0;
    }
    &-cta {
        &:hover {
            background-color: var(--green-500);
        }
    }
    &-list {
        border: 1px solid var(--primary-color);
        border-left: 0;
        border-right: 0;
    }
}