:root {
    --primary-color: #272343;
    --dark-color: #efefef;
    --light-color: #ffffff;
}

*,
*:before,
*:after {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--dark-color);
    color: var(--primary-color);
}

.btn {
    &-secondary {
        &:hover {
            border: none;
            background-color: #3e395e;
        }
    }
    &-primary {
        border: 0.5px solid var(--primary-color);
        &:hover {
            border: none;
            background-color: var(--secondary-color);
            color: var(--primary-color);
        }
    }
}

.cursor-disable {
    cursor: not-allowed !important;
}

.avatar {
    width: 2.5rem;
    height: 2.5rem;
}

.card {
    text-align: left;
    &__content {
        max-width: 66%;
        padding-left: 0.5rem;
    }
    &__header {
        max-width: 34%;
        height: 42vh;
    }
}