.header {
    background-color: var(--primary-color);
    border-bottom: 0;
    font-weight: 500;
    height: 3.7rem;
    &__wrapper {
        max-width: 90vw;
    }
    &__nav {
        width: 55vw;
    }
    &__list {
        min-width: 19vw;
        &__item {
            &:focus {
                border: none;
                padding: 0;
            }
        }
    }
    &__brand__title {
        text-transform: none;
        margin-left: 0.2rem;
        font-weight: 600;
        span {
            font-size: 1.5rem;
        }
    }
}

.nav {
    &-cart {
        &__counter {
            position: absolute;
            top: -2vh;
            right: 0.4vw;
        }
        &__basket {
            font-size: 1.3rem;
        }
        &__item {
            align-self: center;
        }
    }
}

.navigation {
    &__account {
        width: 14vw;
    }
}