.Shop {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: ". top" "sidebar main";
    &-top {
        min-height: 7.5vh;
        text-align: left;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        grid-area: top;
        &--sort {
            min-height: inherit;
            border: 3px solid var(--primary-color);
            border-radius: 0.3rem;
            input {
                margin-right: 0.5rem;
            }
        }
        &--btn {
            text-transform: none;
            font-size: 0.7rem;
            line-height: 1;
        }
    }
    &-products {
        display: flex;
        flex-wrap: wrap;
        grid-area: main;
        gap: 0.7rem 0.5rem;
        margin: 0.5rem 0.5rem 0 0;
    }
    &-side {
        grid-area: sidebar;
        margin: 0.5rem 0.5rem 0 0.5rem;
        &--card {
            position: fixed;
            width: 15.5vw;
            input {
                margin-right: 0.5rem;
            }
        }
        &--title {
            text-align: left;
        }
    }
}

.card {
    max-height: 40vh;
    flex-grow: 1;
    flex-basis: 27vw;
    &__content {
        text-align: left;
        max-width: 65%;
    }
    &__image {
        object-fit: cover;
    }
    &__header {
        max-width: 35%;
    }
}

.btn-icon {
    font-size: 1.5rem;
}

.Empty {
    &-link {
        text-decoration: none;
    }
    &-content {
        font-size: 2rem;
        margin-top: 7rem;
    }
}