.Shop {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-areas: "search top" "sidebar main";
    &-top {
        min-height: 7.5vh;
        text-align: left;
        margin: 0.4rem 1.5rem 0 0.5rem;
        grid-area: top;
        &--sort {
            min-height: inherit;
            border: 2px solid var(--primary-color);
            border-radius: 0.3rem;
            input {
                margin-right: 0.5rem;
                background-color: var(--secondary-color);
            }
        }
        &--btn {
            text-transform: none;
            font-size: 0.7rem;
            line-height: 1;
        }
    }
    &-card {
        max-width: 39vw;
        @include bigtab {
            min-width: 100%;
        }
    }
    &-search {
        grid-area: search;
    }
    &-products {
        display: flex;
        flex-wrap: wrap;
        grid-area: main;
        grid-gap: 1rem;
        margin: 0.5rem 0.5rem 0 0.5rem;
    }
    &-side {
        grid-area: sidebar;
        margin: 0.5rem 0.5rem 0 0.5rem;
        &--card {
            position: fixed;
            width: 17vw;
            padding: 0.7rem;
            input {
                margin-right: 0.5rem;
            }
        }
        &--title {
            text-align: left;
        }
    }
}

.btn-icon {
    font-size: 1.5rem;
}

.Empty {
    height: 80vh;
    width: 80vw;
    &-link {
        text-decoration: none;
    }
    &-card {
        max-width: 100%;
        min-height: 100%;
    }
    &-text {
        font-size: 2rem;
    }
}