:root {
  --primary-color: #272343;
  --dark-color: #efefef;
  --light-color: #ffffff;
}

*,
*:before,
*:after {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--dark-color);
  color: var(--primary-color);
}

.btn-secondary:hover {
  border: none;
  background-color: #3e395e;
}

.btn-primary {
  border: 0.5px solid var(--primary-color);
}

.btn-primary:hover {
  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.cursor-disable {
  cursor: not-allowed !important;
}

.search-bar {
  width: 17vw;
  margin: 0.5rem;
  margin-top: 1rem;
  min-height: 5vh;
  position: fixed;
}

.search-bar__input {
  color: var(--primary-color);
  font-size: 1rem;
  border-width: 2px;
}

.search-bar__icon {
  top: 0.4rem;
}

@media only screen and (max-width: 750px) {
  .search-bar {
    display: none;
  }
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
}

.card {
  text-align: left;
}

.card__content {
  max-width: 66%;
  padding-left: 0.5rem;
}

.card__header {
  max-width: 34%;
  height: 42vh;
}

.Banner {
  height: 50vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Category {
  text-align: left;
  position: relative;
  border-bottom: 1px solid var(--gray-300);
}

.Category__title {
  font-size: 1.7rem;
}

@media only screen and (max-width: 750px) {
  .Category__title {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 500px) {
  .Category__title {
    font-size: 1rem;
    margin-left: 0.5rem;
  }
}

.Category__content {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.Category-name {
  font-size: 0.9rem;
}

@media only screen and (max-width: 500px) {
  .Category-name {
    font-size: 0.8rem;
  }
}

.Category-card {
  width: 17vw;
  height: 45vh;
}

@media only screen and (max-width: 750px) {
  .Category-card {
    width: 35vw;
  }
}

@media only screen and (max-width: 500px) {
  .Category-card {
    width: 45vw;
    height: 45vh;
  }
}

@media only screen and (max-width: 390px) {
  .Category-card {
    width: 60vw;
  }
}

.Category-card__header {
  min-height: 27vh;
  border-bottom: 1px solid var(--gray-300);
}

.Category-card__content {
  margin: 0.5rem 0;
  font-size: 0.8rem;
  min-height: 17vh;
}

@media only screen and (max-width: 500px) {
  .Category-card__content {
    min-height: 15vh;
  }
}

.Category__cta {
  position: absolute;
  top: 0;
  right: 0;
}

.Category-price {
  font-size: 1rem;
}

@media only screen and (max-width: 500px) {
  .Category-price {
    font-size: 0.9rem;
  }
}

.Category-container {
  width: 80%;
  margin: 1rem auto;
}

@media only screen and (max-width: 750px) {
  .Category-container {
    width: 95%;
  }
}

.header {
  background-color: var(--primary-color);
  border-bottom: 0;
  font-weight: 500;
  height: 3.7rem;
}

@media only screen and (max-width: 500px) {
  .header {
    font-size: 0.7rem;
  }
}

.header__wrapper {
  max-width: 90vw;
}

@media only screen and (max-width: 500px) {
  .header__wrapper {
    max-width: 97vw;
  }
}

.header__nav {
  width: 55vw;
}

.header__list {
  min-width: 19vw;
}

@media only screen and (max-width: 750px) {
  .header__list {
    min-width: 32vw;
  }
}

@media only screen and (max-width: 500px) {
  .header__list {
    display: none;
  }
}

.header__list__item:focus {
  border: none;
  padding: 0;
}

.header__brand__title {
  text-transform: none;
  margin-left: 0.2rem;
  font-weight: 600;
}

.header__brand__title span {
  font-size: 1.5rem;
}

@media only screen and (max-width: 500px) {
  .header__brand__title span {
    font-size: 1rem;
  }
}

.nav-cart__counter {
  position: absolute;
  top: -0.7rem;
  right: 0.4rem;
}

@media only screen and (max-width: 500px) {
  .nav-cart__counter {
    right: 44vw;
  }
}

.nav-cart__basket {
  font-size: 1.3rem;
}

.nav-cart__item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navigation__account {
  width: 14vw;
}

@media only screen and (max-width: 500px) {
  .navigation__account {
    width: 37vw;
  }
}

.MobNavMenu {
  display: none;
}

@media only screen and (max-width: 500px) {
  .MobNavMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.MobNavMenu__list {
  min-width: 99%;
  color: var(--light-color);
}

.MobNavMenu__item:hover {
  background-color: var(--primary-color) !important;
}

.hide-desktop {
  display: none;
}

@media only screen and (max-width: 500px) {
  .hide-desktop {
    display: block;
  }
}

.Shop {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4.5fr;
      grid-template-columns: 1fr 4.5fr;
      grid-template-areas: "search top" "sidebar main";
}

@media only screen and (max-width: 750px) {
  .Shop {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "top" "main" "sidebar";
  }
}

.Shop-top {
  min-height: 2.8rem;
  text-align: left;
  margin: 0.4rem 1.5rem 0 0.5rem;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: top;
}

@media only screen and (max-width: 500px) {
  .Shop-top {
    margin-right: 0rem;
    font-size: 0.7rem;
  }
}

.Shop-top--sort {
  min-height: inherit;
  border: 2px solid var(--primary-color);
  border-radius: 0.3rem;
}

.Shop-top--sort input {
  margin-right: 0.5rem;
  background-color: var(--secondary-color);
}

.Shop-top--btn {
  text-transform: none;
  font-size: 0.7rem;
  line-height: 1;
}

.Shop-content {
  font-size: 0.9rem;
}

@media only screen and (max-width: 500px) {
  .Shop-content {
    font-size: 0.8rem;
  }
}

.Shop-content__price {
  font-size: 1rem;
}

@media only screen and (max-width: 500px) {
  .Shop-content__price {
    font-size: 0.7rem;
  }
}

.Shop-card {
  max-width: 38vw;
}

@media only screen and (max-width: 500px) {
  .Shop-card__header {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (max-width: 1250px) {
  .Shop-card {
    min-width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .Shop-card {
    height: 15rem;
  }
}

.Shop-search {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: search;
}

.Shop-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  grid-gap: 1.5rem;
  margin: 1.2rem 0.5rem 0 0.7rem;
}

.Shop-side {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
  margin: 1.2rem 0.5rem 0 0.5rem;
}

.Shop-side--card {
  position: fixed;
  width: 16.5vw;
  padding: 0.7rem;
}

.Shop-side--card input {
  margin-right: 0.5rem;
}

.Shop-side--title {
  text-align: left;
}

.btn-icon {
  font-size: 1.5rem;
}

.Empty {
  height: 80vh;
  width: 80vw;
}

.Empty-link {
  text-decoration: none;
}

.Empty-card {
  max-width: 100%;
  min-height: 100%;
}

.Empty-text {
  font-size: 2rem;
}

.badge {
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
}

@media only screen and (max-width: 500px) {
  .badge {
    font-size: 0.8rem;
  }
}

.Cart {
  max-width: 90vw;
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 500px) {
  .Cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 99vw;
  }
}

.Cart-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.Cart-title {
  font-weight: bold;
  font-size: 2rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 1rem 0 0 3rem;
}

@media only screen and (max-width: 500px) {
  .Cart-title {
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}

.Cart-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

@media only screen and (max-width: 500px) {
  .Cart-cta {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    font-size: 0.9rem;
  }
}

.Cart-cta__qty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Cart-cta__qty span {
  margin-right: 0.5rem;
}

.Cart-card {
  max-width: 100%;
  margin-right: 1rem;
  padding-right: 0.3rem;
}

@media only screen and (max-width: 500px) {
  .Cart-card {
    margin-right: 0.5rem;
  }
}

.Cart-card .card__header {
  max-width: 25%;
}

.Cart-card .card__content {
  max-width: 75%;
}

@media only screen and (max-width: 500px) {
  .Cart-card .card__content-title, .Cart-card .card__content-desc, .Cart-card .card__content-price {
    font-size: 0.9rem;
  }
}

.Cart-card .badge {
  text-align: right;
}

.Wishlist {
  max-width: 50vw;
}

.Wishlist-wrapper {
  height: 90vh;
}

.Wishlist-card {
  min-width: 60vw;
  margin-bottom: 0.8rem;
}

@media only screen and (max-width: 500px) {
  .Wishlist-card {
    min-width: 99vw;
  }
}

.Wishlist-title {
  font-weight: bold;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 1rem 0 0 3rem;
}

@media only screen and (max-width: 500px) {
  .Wishlist-title {
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}

.Wishlist-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

@media only screen and (max-width: 500px) {
  .Wishlist-cta {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.Checkout {
  min-width: 35vw;
  margin-right: 0.5rem;
  text-align: left;
}

.Checkout-card {
  min-width: 100%;
  min-height: 42vh;
  padding: 1rem;
}

.Checkout-title {
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: uppercase;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.Checkout-total {
  margin: 0.7rem 0;
}

.Checkout-cta:hover {
  background-color: var(--green-500);
}

.Checkout-list {
  border: 1px solid var(--primary-color);
  border-left: 0;
  border-right: 0;
}

.NotFound {
  height: 100vh;
  font-size: 5rem;
}

.SignUp,
.Login {
  height: 100vh;
}

.SignUp-card,
.Login-card {
  height: 60%;
  width: 30%;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
}

@media only screen and (max-width: 750px) {
  .SignUp-card,
  .Login-card {
    width: 55%;
  }
}

@media only screen and (max-width: 500px) {
  .SignUp-card,
  .Login-card {
    width: 65%;
  }
}

@media only screen and (max-width: 390px) {
  .SignUp-card,
  .Login-card {
    width: 75%;
  }
}

.SignUp-badge,
.Login-badge {
  width: 90%;
  text-align: center;
}

.SignUp-form,
.Login-form {
  width: 90%;
  height: 80%;
}

.Login {
  height: 90vh;
}

.hide {
  display: none;
}

.NavLogin {
  width: 30%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  font-size: 2rem;
  height: 7vh;
}

@media only screen and (max-width: 750px) {
  .NavLogin {
    width: 55%;
  }
}

@media only screen and (max-width: 500px) {
  .NavLogin {
    width: 65%;
  }
}

@media only screen and (max-width: 390px) {
  .NavLogin {
    width: 75%;
  }
}

.NavLogin-item {
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
}

.input-container {
  min-width: 100%;
}

.input-error {
  margin-top: 0.5rem;
}

.disabled-btn {
  cursor: not-allowed !important;
  background-color: var(--gray-500);
}

.menu-icon {
  font-size: 1.2rem;
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
}
/*# sourceMappingURL=styles.css.map */