:root {
  --primary-color: #272343;
  --dark-color: #efefef;
  --light-color: #ffffff;
}

*,
*:before,
*:after {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--dark-color);
  color: var(--primary-color);
}

.btn-secondary:hover {
  border: none;
  background-color: #3e395e;
}

.btn-primary {
  border: 0.5px solid var(--primary-color);
}

.btn-primary:hover {
  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.cursor-disable {
  cursor: not-allowed !important;
}

.search-bar {
  width: 17vw;
  margin: 0.5rem;
  margin-top: 1rem;
  min-height: 5vh;
  position: fixed;
}

.search-bar__input {
  color: var(--primary-color);
  font-size: 1rem;
  border-width: 2px;
}

.search-bar__icon {
  top: 0.4rem;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
}

.card {
  text-align: left;
}

.card__content {
  max-width: 66%;
  padding-left: 0.5rem;
}

.card__header {
  max-width: 34%;
  height: 42vh;
}

.Banner {
  height: 50vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Category {
  text-align: left;
}

.Category__title {
  font-size: 1.7rem;
}

.Category-name {
  font-size: 1rem;
}

.Category-card {
  width: 17vw;
  height: 52vh;
}

.Category-card__header {
  min-height: 32vh;
  border-bottom: 1px solid var(--gray-300);
}

.Category-card__content {
  margin: 0.5rem 0;
  font-size: 0.8rem;
  min-height: 18vh;
}

.Category-price {
  font-size: 1.1rem;
}

.Category-container {
  width: 80%;
  margin: 1rem auto;
}

.header {
  background-color: var(--primary-color);
  border-bottom: 0;
  font-weight: 500;
}

.header__wrapper {
  max-width: 90vw;
}

.header__nav {
  width: 55vw;
}

.header__list {
  min-width: 19vw;
}

.header__list__item:focus {
  border: none;
  padding: 0;
}

.header__brand__title {
  text-transform: none;
  margin-left: 0.2rem;
  font-weight: 600;
}

.header__brand__title strong {
  font-size: 1.5rem;
}

.nav-cart__counter {
  position: absolute;
  top: -2vh;
  right: 0.4vw;
}

.nav-cart__basket {
  font-size: 1.3rem;
}

.nav-cart__item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navigation__account {
  width: 12vw;
}

.Shop {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4.5fr;
      grid-template-columns: 1fr 4.5fr;
      grid-template-areas: "search top" "sidebar main";
}

.Shop-top {
  min-height: 7.5vh;
  text-align: left;
  margin: 0.4rem 1.5rem 0 0.5rem;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: top;
}

.Shop-top--sort {
  min-height: inherit;
  border: 2px solid var(--primary-color);
  border-radius: 0.3rem;
}

.Shop-top--sort input {
  margin-right: 0.5rem;
  background-color: var(--secondary-color);
}

.Shop-top--btn {
  text-transform: none;
  font-size: 0.7rem;
  line-height: 1;
}

.Shop-card {
  max-width: 39vw;
}

@media only screen and (max-width: 1250px) {
  .Shop-card {
    min-width: 100%;
  }
}

.Shop-search {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: search;
}

.Shop-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  grid-gap: 0.5rem;
  margin: 0.5rem 0.5rem 0 0.5rem;
}

.Shop-side {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
  margin: 0.5rem 0.5rem 0 0.5rem;
}

.Shop-side--card {
  position: fixed;
  width: 17vw;
  padding: 0.7rem;
}

.Shop-side--card input {
  margin-right: 0.5rem;
}

.Shop-side--title {
  text-align: left;
}

.btn-icon {
  font-size: 1.5rem;
}

.Empty-link {
  text-decoration: none;
}

.Empty-content {
  font-size: 2rem;
  margin-top: 7rem;
}

.Cart {
  max-width: 90vw;
  margin-left: 1rem;
}

.Cart-title {
  font-weight: bold;
  font-size: 2rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.Cart-card {
  max-width: 100%;
}

.Cart-card .card__header {
  max-width: 25%;
}

.Cart-card .card__content {
  max-width: 75%;
}

.Cart-card .badge {
  text-align: right;
}

.Wishlist {
  max-width: 50vw;
}

.Wishlist-wrapper {
  height: 90vh;
}

.Wishlist-card {
  min-width: 60vw;
  margin-bottom: 0.8rem;
}

.Wishlist-title {
  font-weight: bold;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.Checkout {
  min-width: 35vw;
  margin-right: 0.5rem;
  text-align: left;
}

.Checkout-card {
  min-width: 100%;
  min-height: 42vh;
  padding: 1rem;
}

.Checkout-title {
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: uppercase;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.Checkout-total {
  margin: 0.7rem 0;
}

.Checkout-cta:hover {
  background-color: var(--green-500);
}

.Checkout-list {
  border: 1px solid var(--primary-color);
  border-left: 0;
  border-right: 0;
}
/*# sourceMappingURL=styles.css.map */